@{
    ViewData["Title"] = "Home Page";
}

@model IEnumerable<Product>
<div class="row pb-3">
    @foreach(var item in Model)
    {
        <div class="col-lg-3 col-sm-6">
            <div class="row p-2">
                <div class="col-12 p-1">
                    <div class="card border-0 shadow p-3 border-top border-5 rounded">
                        <img src="@item.ImageUrl" class="card-img-top rounded" />
                        <div class="card-body pb-0">
                            <div class="pl-1">
                                <p class="card-title h6 text-dark opacity-75 text-uppercase text-center">@item.Title</p>
                                <p class="card-title h6 text-success text-center">by <b>@item.Author</b></p>
                            </div>
                            <div class="pl-1 mb-0">
                                <p class="h6 text-dark opacity-75 text-uppercase text-center">List Price: <span class="text-decoration-line-through">@item.ListPrice.ToString("c")</span></p>  
                            </div>
                            <div class="pl-1">
                                <p class="h6 text-dark opacity-75 text-uppercase text-center">As Low As: <span>@item.Price100.ToString("c")</span></p>
                            </div>
                        </div>
                        <div>
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary bg-gradient border-0 form-control">Details</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
